.search {
     position: absolute;
     top:40%;
     left: 50%;
     transform: translate(-50%, -50%) ;
  }

  .search2 {
    position: absolute;
    top:10%;
    left: 30vw;
    transform: translate(-50%, -50%) ;
 }

 .search-bar {
  background: #ffffff;
  height: 2vw;
  width: 42vw;
  padding: 1vh;
  border-radius: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.3vmin solid #000000; /* Adiciona uma borda sólida de 2 pixels na cor preta */
}


.search-text{
  border:none;
  background: none;
  outline: none;
  padding: 0;
  color: #000000;
  font-size: 1.4vmax;
  line-height: 3vmax;
  width: 50vh;
}
  
.search .search-button {
  width: 2.5vw;
  height: 4.7vh;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.search .search-button:hover {
  background: #000000;
}

.search2 .search-button {
  width: 2.5vw;
  height: 4.7vh;;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.search2 .search-button:hover {
  background: #0b0b0b;
}

.lupa{
  width: 5vw;
  height: 3vh;
}


  