/* Estilização básica da página */
body {
  margin: 0vh;
  height: 100vh;
  width: 98vw;
  /*background: linear-gradient(#303030, #171717, #050608);*/
  background: #ffffff;
  /*overflow: hidden;*/
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

.results li {
  margin-bottom: 0.5vmax;
  padding: 1vmax;
  /*border: 1px solid #ccc;*/
  border: none;
  border-radius: 1vmax;

  background: #faf9f9;

  transition: box-shadow 0.3s ease-in-out;

  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.results li:hover,
.results li:focus{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h3 {
  margin: 0;
  font-size: 18px;
}

a {
  color: #0a0dbe;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  color: #000000;
}

.buscador {
  position: relative;
}

.buscador.realizou-busca form {
  position: absolute;
  top: 20px;
  left: 20px;
}

.resultados-lista {
  margin-top: 20px;
 
}

.espacamento-superior {
  margin-top: 40px; /* Espaçamento superior maior apenas para a lista de resultados */
}

.results {
  margin-top: 12%; /* Espaçamento superior maior apenas para a lista de resultados */
  width: 40vmax;
  margin-left: 10vmax;
}

.resultados-lista li {
  display: flex;
  flex-direction: column;
}

.pagination{
  display: flex;
  list-style: none;
}

.pagination__item--active {
  background: none;
  font-weight: bold;
  
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #0a0b0d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.results em{
  color:red
}

.pagination_button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fcf8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.pagination_button:hover {
  background: #0a0b0d;
  color: #ffffff;
}

.pagination_ProxAnt{
  background: none;
  font-weight: bold;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.pagination_ProxAnt:hover {
  background: #0a0b0d;
  color: #ffffff;
}


