/* Estilização básica da página */
body {
  margin: 0vh;
  height: 100vh;
  width: 98vw;
  background: linear-gradient(#60eaba, #4ee7ea, #0056b3);
  /*overflow: hidden;*/
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

.results li {
  margin-bottom: 0.5vmax;
  padding: 1vmax;
  border: 1px solid #ccc;
  background: #0d0505;
  border-radius: 3vmax;
}

h3 {
  margin: 0;
  font-size: 18px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  color: #ffffff;
}

.buscador {
  position: relative;
}

.buscador.realizou-busca form {
  position: absolute;
  top: 20px;
  left: 20px;
}

.resultados-lista {
  margin-top: 20px;
}

.espacamento-superior {
  margin-top: 40px; /* Espaçamento superior maior apenas para a lista de resultados */
}

.results {
  margin-top: 12%; /* Espaçamento superior maior apenas para a lista de resultados */
}

.resultados-lista li {
  display: flex;
  flex-direction: column;
}

.pagination{
  display: flex;
  list-style: none;
}

.pagination__item--active {
  background: none;
  font-weight: bold;
  border:none;
}

em{
  color:red
}





