/* Estilização básica da página */
body {
  margin: 0vh;
  height: 100vh;
  width: 98vw;
  /*background: linear-gradient(#303030, #171717, #050608);*/
  background: #ffffff;
  /*overflow: hidden;*/
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1vmax;
  text-align: center;
}

form {
  margin-bottom: 1vmax;
  text-align: center;
}

input[type="text"] {
  padding: 0.5vmax;
  font-size: 1.5rem;
}

button[type="submit"] {
  padding: 0.5vmax 1vmax;
  font-size: 1vmax;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}
.results {
  animation: pulsate 1s infinite;
}

.results li {
  margin-bottom: 0.5vmax;
  padding: 1vmax;
  /*border: 1px solid #ccc;*/
  border: none;
  border-radius: 1vmax;
  background: #faf9f9;
  transition: box-shadow 0.3s ease-in-out;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.results li:hover,
.results li:focus{
  box-shadow: 0 0 1vmax rgba(0, 0, 0, 0.3);
}

h3 {
  margin: 0;
  font-size: 1.2vmax;
}

a {
  color: #0a0dbe;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  color: #000000;
}

.buscador {
  position: relative;
}

.buscador.realizou-busca form {
  position: absolute;
  top: 2vmax;
  left: 2vmax;
}

.resultados-lista {
  margin-top: 2vmax;
 
}

.espacamento-superior {
  margin-top: 4vmax; /* Espaçamento superior maior apenas para a lista de resultados */
}

.results {
  margin-top: 0vmax; /* Espaçamento superior maior apenas para a lista de resultados */
  width: 40vmax;
  margin-left: 10vmax;
}

.resultados-lista li {
  display: flex;
  flex-direction: column;
}

.results em{
  color:red
}

.pagination{
  display: flex;
  list-style: none;
  transition: box-shadow 0.3s ease-in-out;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  margin-left: 17vmax;
  padding-bottom: 5%;

}

.pagination__item--active {
  background: none;
  font-weight: bold;
  
  width: 2vmax;
  height: 2vmax;
  border-radius: 50%;
  background: #0a0b0d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.pagination_button{
  width: 2vmax;
  height: 2vmax;
  border-radius: 50%;
  background: #fcf8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.pagination_button:hover {
  background: #0a0b0d;
  color: #ffffff;
}

.pagination_ProxAnt{
  background: none;
  font-weight: bold;
  border: none;
  width: 4vmax;
  height: 2vmax;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.pagination_ProxAnt:hover {
  background: #0a0b0d;
  color: #ffffff;
}


.nada_encontrado {
  transition: box-shadow 0.3s ease-in-out;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  /*margin-top: 18vh;*/
  
  font-size: 0.7vmax;
  position: fixed;
  top: 15%; /* Distância de 20 pixels do topo da tela */
  left: 15%; /* Centralizar horizontalmente na tela */
  transform: translateX(-50%);
}

.NumeroResultados{
  margin-left: 10vmax;
  font-size: 1vmax;
  margin-top: 8vmax;
  color: #535252;
}


